a:active,
a:hover,
a:focus {
    outline: none !important;
}

.help-block.error-message {
    font-family: 'Open Sans';
    font-size: 12px !important;
    color: #D32F2F;
    margin-top: 3px;
}

select.form-control.has-error,
.form-group.has-error>input,
.form-group.has-error>textarea {
    border: 2px solid #D32F2F !important;
}

.form-group.has-error>.gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group {
    border: 2px solid #D32F2F !important;
}

.form-group.has-error>input,
.form-group.has-error>input:focus,
.form-group.has-error>input:active {
    background: url(/img/icon-error.png) no-repeat;
    background-position: right 5px top 5px;
}

.register-container .form-group.has-error>input,
.register-container .form-group.has-error>input:focus,
.register-container .form-group.has-error>input:active {
    background-position: right 2px top 2px !important;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+p:before {
    margin-top: 2px;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    color: #FF9E66;
    margin-left: 0px;
    vertical-align: top;
    border: 1px solid #B0B0B0;
    margin-right: 8px;
}

input[type=checkbox]:checked+p:before {
    background: transparent url(/img/icons/form-checked-icon.png ) no-repeat 45%;
    border: 2px solid #FF9E66;
}

.form-group.has-error.checkbox input[type=checkbox]+p:before {
    border: 2px solid #D32F2F;
}

.alert.alert-custom {
    height: 50px;
    max-height: 50px;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    border-radius: 0 !important;
}

button.transparent-btn {
    border-radius: 5px;
    border: 1px solid #FF9E66;
    font-family: 'OpenSans';
    color: #FF9E66;
    font-size: 14px;
    height: 40px;
    background: transparent;
    margin-bottom: 0;
    padding-top: .7rem;
}

button.transparent-btn:hover {
    background: transparent;
    color: #DB7543;
    border: 1px solid #DB7543;
}

@media (max-width: 768px) {
    .alert.alert-custom{
        font-size: 13px;
    }
}

.alert.alert-custom.success {
    background-color: #FF9E66;
}

.alert.alert-custom.error {
    background-color: #D32F2F;
}

.alert .alert-custom .hide {
    display: none;
}

.flash-msg-icon {
    width: 20px;
    height: 20xp;
    max-width: 20px;
    max-height: 20px;
    margin-right: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.flash-margin {
    height: 30px;
}

.alert.alert-custom button {
    width: 20px !important;
    height: 20px !important;
    max-width: 20px;
    max-height: 20px;
    float: right;
    padding: 0 !important;
    background: transparent;
    margin-top: 3px;
    margin-right: 10px;
}

.disclaimer-container {
    margin-top: 40px;
    margin-bottom: 70px !important;
    width: 76%;
    margin: auto;
    font-size: 14px;
    color: #595959;
    font-family: 'Open Sans';
    text-align: justify;
    font-weight: normal;
}

.disclaimer-container>h1 {
    font-size: 21px;
    color: #595959;
    font-family: 'Open Sans';
    font-weight: bold;
    text-align: left;
}

.disclaimer-container>h3 {
    font-size: 15px;
    color: #595959;
    font-family: 'Open Sans';
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #E5E5E5;
    padding-bottom: .5rem;
}

.disclaimer-container>p {
    font-size: 14px;
    color: #595959;
    font-family: 'Open Sans';
    text-align: justify;
    font-weight: normal;
}

.disclaimer-container>p:last-child {
    margin-top: 3rem;
}

/* For Safari Bootstrap 4 cols display correctly */

.row:before,
.row:after {
    width: 0px;
    height: 0px;
}

/* for mobile menu scrolling */

@media screen and ( max-height: 400px ) {
    .navbar-collapse.mobile {
        height: 240px;
        max-height: 240px;
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
      }
}

@media screen and ( min-height: 400px ) {
    .navbar-collapse.mobile {
        height: 340px;
        max-height: 340px;
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
      }
}

  .row {
      max-width: 100% !important;
  }

  /* buttons */

  .btn.submit-btn {
      color: #FFFFFF;
      font-family: 'Open Sans';
      font-weight: 400;
      background: #FF9E66;
      border-radius: 5px;
      padding-top: 7px;
      padding-bottom: 8px;
      max-height: 36px;
      margin-left: 0 !important;
  }

  .btn.submit-btn:active,
  .btn.submit-btn:hover,
  .btn.submit-btn:focus {
      background: #e0865a;
      font-weight: 600;
  }

  .btn.white-btn {
      border: 1px solid #B0B0B0;
      border-radius: 5px;
      color: #595959;
      font-family: 'Open Sans';
      font-size: 14px;
      padding-top: 6px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      max-height: 36px;
  }
  .btn.white-btn:hover {
      background: transparent;
      border: 1px solid #595959;
      font-weight: 600;
  }

  .btn.btn.white-btn#discard-changes {
      width: 200px !important;
      max-width: 200px !important;
      margin-right: 16px !important;
  }
  
  .btn-group > .btn:not(:first-child),
  .btn-group > .btn:first-child {
      margin-left: 4%;
      border-radius: 5px !important;
      padding-top: 6px;
  }

.btn.btn-orange-transp {
    border-radius: 5px;
    border: #FF9E66 1px solid;
    color: #FF9E66;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    background: transparent;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
}

.btn.btn-orange-transp:hover,
.btn.btn-orange-transp:active,
.btn.btn-orange-transp:focus {
    background: transparent;
    color: #DB7543;
    border-color: #DB7543;
}

/* change logo stuff */

::placeholder {
      color: #B0B0B0 !important;
  }

.logo-wrapper {
    background: rgba(255, 158, 102, 0.4);
    width: 170px;
    height: 50px;
    max-height: 50px;
    max-width: 170px;
    display: table;
    margin-top: 19px;
}

.logo-wrapper.change {
    margin-top: 0 !important;
    margin-bottom: 25px;
}

.logo-wrapper.transparent {
    background: transparent !important;
}

.text-wrapper {
    width: 170px;
    position: absolute;
    display: table;
}

.text-wrapper#row-1 {
    margin-top: 85px;
}

.text-wrapper#row-2 {
    margin-top: 150px;
}

.text-wrapper>.text-row {
    display: table-row;
    color: #707070;
    font-size: 12px;
    font-family: 'Open Sans';
    text-align: center;
}

.text-wrapper>.text-row.fade-text {
    color: #B0B0B0;
}

.logo-wrapper>#logo-text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#logo-img {
    width: 170px;
    height: 50px;
    position: absolute;
    margin-top: 19px;
}

#logo-change-img {
    width: 170px;
    height: 170px;
    max-width: 170px;
    max-height: 50px;
}

.file-input.logo {
    border: 1px solid rgba(255, 158, 102, 1.0);
    border-radius: 5px;
    background: transparent;
    height: 36px;
    width: 160px;
    position: absolute;
    margin-top: 220px;
    margin-left: 5px;
}

.file-input.logo-change {
    border: 1px solid rgba(255, 158, 102, 1.0);
    border-radius: 5px;
    background: transparent;
    padding-bottom: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin: auto;
}

.file-input.logo-change span.file-input-msg {
    display: table;
    margin: auto;
}

form textarea {
    margin: 0 !important;
}

.file-input.logo:hover,
.file-input.logo-change:hover {
    cursor: pointer;
}

.file-input {
    pointer-events: none;
    position: relative;
    overflow: hidden;
    color: #FF9E66;
    font-size: 14px;
    font-family: 'Open Sans';
    padding-top: 7px;
}

.file-input>input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: all;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.file-input.logo img,
.file-input.logo-change img {
    height: 20px;
    width: 20px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 3px;
}

.file-input.logo img#left-margin {
    margin-left: 7px;
}

.row.success-row {
    width: 29% !important;
    max-width: 29% !important;
}

@media (max-width: 1020px) {
    .row.success-row {
        width: 50% !important;
        max-width: 50% !important;
    }
}

@media (max-width: 600px) {
    .row.success-row {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .row.success-row>p {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.nav-fill .nav-item.disclaimer-logo {
    text-align: left;
} 

@media (max-width: 740px) {
    .order-2.w-100.mobile-no-order {
        width: 0;
        max-width: 0 !important;
    }

    .nav-item.dropdown.ico-dropdown.disclaimer-lang {
        position: relative;
    }

    .nav-item.dropdown.ico-dropdown.disclaimer-lang>.dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        margin-left: -100px;
    }

    .nav-item.dropdown.ico-dropdown.disclaimer-lang {
        height: 36px;
        width: 56px;
    }

    img#disclaimer-lang-ico {
        margin-left: .7rem;
        height: 24px;
        width: 24px;
    }

    img#disclaimer-arrow-down-ico {
        height: 24px;
        width: 16px;
        margin-right: .7rem;
    }
}

