/* Login screen */

body {
    background-color: #F5F5F5 !important;
}

.login-container {
    border: 0px solid #CECECE;
    border-radius: 6px 6px 6px 6px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-container img {
    width: 304px;
    height: 90px;
}

.login-container .bold-message {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #595957;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 50px;
}

.login-container .regular-message {
    font-family: 'Open Sans';
    color: #707070;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.login-container .form-group {
    margin-bottom: 28px;
    margin-top: 0;
    width: 100% !important;
}

.login-container label {
    color: #707070;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.register-container {
    border: 0px solid #CECECE;
    border-radius: 6px 6px 6px 6px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-container .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 63px;
    padding-left: 55px;
    padding-right: 78px;
    padding-bottom: 0px;
}

.register-container .form-container .my-form-col .form-group {
    display: grid;
}

.register-container .form-container>div.logo-col {
    width: 170px;
    max-width: 170px;
    display: grid;
}

.register-container .form-container>.my-form-col {
    width: 390px;
    background: transparent;
    display: grid;
    row-gap: 12px;
    padding: 0px 0px;
    margin-bottom: 25px;
}

.register-container .form-container>.my-form-col>.white-row {
    background: transparent;
    margin-top: 12px;
    height: 50px;
}

.register-container .form-container>.my-form-col>div>.form-group {
    display: grid;
}

.split-form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 13px;
}

.split-form-row.submit-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 12px;
}


/* Split register container */

.logo-container {
    margin-top: 68px;
    margin-bottom: 68px;
    margin-left: auto;
    margin-right: auto;
}

.logo-container.register-logo {
    margin-top: 34px;
    margin-bottom: 33px;
}

.register-container form input,
.register-container form select {
    float: left;
    height: 30px;
}

.logo-container>img.logo,
.logo-container.register-logo>img.logo {
    width: 304px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container .form-box {
    margin-left: 48px;
    margin-right: 48px;
}

.form-text {
    margin-top: 37px;
    margin-bottom: 40px;
    text-align: center;
}

.text-small {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 14px;
    color: #707070;
    margin-top: 4%;
}

.form-header {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    color: #FF9E66;
    vertical-align: middle;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 38px;
}

.login-header {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    color: #FF9E66;
    vertical-align: middle;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 56px;
}

.login-header.fgt-pass {
    margin-bottom: 32px !important;
}

.form-text>a,
.text-small>a {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #FF9E66;
}

form select,
form select:hover {
    background: transparent;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border: 2px solid #FF9E66 !important;
    box-shadow: 0 0 0px #FF9E66 !important;
    background: transparent;
}

form input[type="password"],
form input[type="text"],
form input[type="email"],
form select,
form textarea {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    border: 1px solid #B0B0B0;
    margin: 0px;
}

.select-item {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #707070;
}

form textarea {
    resize: none;
    height: 180px;
}

form select:focus {
    border: 2px solid #FF9E66 !important;
    box-shadow: 0 0 0px #FF9E66 !important;
}

form select,
form select:focus {
    padding: 0rem !important;
    padding-left: 0.2rem !important;
    -webkit-appearance: none !important;
    background: url(/img/icons/select-arrow-down-icon.png) no-repeat right !important;
}

form input::placeholder {
    color: #707070 !important;
    font-family: 'Open Sans' !important;
    font-size: 12px !important;
}

.below-form>.text-small {
    margin-top: 35px;
    margin-bottom: 46px;
}

a:hover,
a:focus,
a:active {
    color: #FF9E66 !important;
    text-decoration: none;
}


/* Registration form cols */

.register-container .form-group {
    display: inline-block;
}

.register-container .form-group .half-col-input {
    display: inline-block;
    width: 244px;
}

.register-container .form-group .full-col-input {
    display: inline-block;
    width: 390px;
}

.register-container .control-label {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #707070;
    margin-bottom: 2px;
    font-weight: 600;
}

input#disclaimer-id {
    height: 22px !important;
}

#disclaimer label a {
    color: #FF9E66 !important;
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
}

#disclaimer label p {
    margin-top: 8px;
    margin-bottom: 0;
    font-family: 'Open Sans' !important;
    font-size: 14px !important;
    color: #707070 !important;
}


/* End splitting registration form */

.btn.focus,
.btn:focus {
    outline: 0;
    background-color: #FF9E66 !important;
    border: 0px solid !important;
}

.btn.btn-login {
    background-color: #FF9E66;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.btn.btn-forgot-password {
    background-color: #FF9E66;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    max-height: 40px;
    margin-bottom: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn.btn-register {
    background-color: #FF9E66;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    height: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
}