/* Global font and headers */
html *
{
   font-size: 1em;
   color: #000;
   font-family: Museo !important;
}

h1, h2, h3, h4, h5 {
    color: #595957;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.67em 0;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.3em;
}

* .left {
  text-align: left !important;
}

*   .center {
  text-align: center !important;
}

small {
    font-size: 80% !important;
}


/* TABLE*/
table {
  border: 3px solid #595957;
  border-collapse: collapse;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  background: #fff;
  margin-bottom: 1.25rem;
  table-layout: fixed;
}

table * {
  text-align: center;
}

table td th {
  border: 0px solid #ff9e66;
}

table tbody td {
  vertical-align: middle;
  font-size: 13px;
}

table th {
  background: #fff;
  font-size: 17px;
  color: #ff9e66 !important;
  font-weight: bold;
}

table.greyRows th {
  border-bottom: 1px solid #595957;
}

table.wide {
  width:100%;
}

table.wide2 {
  width:105%;
}

table.borderless {
  border: 0px;
}

table tr:nth-child(even) {
  background: #fff;
}

table.greyRows tr:nth-child(odd) {
  background: #fff;
}
table.greyRows tr:nth-child(even) {
  background: #eee;
}

table.adminStocks tr:nth-child(4n + 1) {
  background: #fff;
}

table.adminStocks tr:nth-child(4n + 2) {
  background: #fff;
}

table.adminStocks tr:nth-child(4n + 3) {
  background: #eee;
}

table.adminStocks tr:nth-child(4n) {
  background: #fff;
}

table.greyRowsImportant tr:nth-child(odd) {
  background: #fff;
}
table.greyRowsImportant tr:nth-child(even) {
  background: #eee;
}

table tr.withPhoto td:first-child{
  background: #fff;
  border-bottom: 1px solid #eee;
  border-right:  1px solid #eee;
}


table thead th:first-child {
  border-left: none;
}

.hiddenRow {
  display: none;
}


.resultsContainer table thead th{
  text-align: center;
}

.resultsContainer table td {
  color: #595957;
  font-size: 16px;
}


table.adminUsersTable tbody td {
  font-size: 16px;
}

.resultsContainer table img{
  height: 50px;
}

.smallerFont table.paleBlueRows td {
  font-size: 11px;
}

.resultsContainer table.paleBlueRows tr.smallerFont td{
  font-size: 14px;
}

.centerV
{
    display:table-cell;
}

/* BUTTONS */
button {
  color: #fff !important;
  background-color: #ff9e66 !important;
  border: 1px solid grey;
  margin: auto;
  padding: 10px 24px;
  cursor: pointer;
}

.smallButton {
  color: #fff !important;
  background-color: #ff9e66 !important;
  border: 0px solid grey;
  margin: auto;
  padding: 4px 8px;
  cursor: pointer;
}

button:hover, button:focus, button:active,
.button:hover, .button:focus, .button:active {
    background-color: #ff7e46 !important;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-group a {

  color: white;
}

.btn-group button {
  border: 1px solid grey;
  margin: auto;
  padding: 10px 24px;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #ff7e46;
}

/* PAGINATION */
.myPagination {
  font-family: "Museo";
  font-size: 18px;
}

ul.myPagination {
  list-style-type: none;
  padding-left: 5px;
  overflow: hidden;
  white-space:nowrap;
  display: inline;
}

ul.myPaginationRight{
  float: right;
}

ul.myPagination li{
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

div.resultsContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.resultsContainer table.paleBlueRows{
  width: 100%;
}

img.productImage {

}

/* AUTOFILL */
.autofill { box-sizing: border-box; }

.autofill body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autofill input {
  border: 1px solid transparent;
  background-color: #ff9e66;
  padding: 10px;
  font-size: 16px;
}
.autofill input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autofill input[type=submit] {
  background-color: #ff9e66;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #ff9e66 !important;
  color: #ffffff;
}


/* LINKS */
.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #ff6e40 !important;
}

a {
    color: #ff9e66 !important;
}

input {
  background-color: transparent;
}

.side-nav li a:not(.button) {
    color: #15848F;
}

.side-nav li a:not(.button):hover {
    color: #15848F;
}

header {
    background-color: #D33C44;
    color: #ffffff;
    font-size: 30px;
    height: 84px;
    line-height: 64px;
    padding: 16px 0px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
    padding-left:80px
}

legend {
    color:#15848F;
}

.row {
    max-width: 80rem;
}

.actions.columns {
    margin-top:1rem;
    border-left: 5px solid #15848F;
    padding-left: 15px;
    padding: 32px 20px;
}

.actions.columns h3 {
    color:#15848F;
}

.related table {
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    margin-right:2rem;
    margin-top: -80px;
    font-size:16px;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #0097a7;
    color: #FFF;
    border-radius: 1000px;
}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.required > label {
    font-weight: bold;
}
.required > label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height:150px;
    background: none;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color:#DCE47E;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}
.view .numbers .subheader, .view .dates .subheader {
    color:#747474;
}
.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top:1.2rem;
    border-bottom: 1px solid #eee;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0 ,0 , 0.74);
    padding:5px;
}

.cake-error .cake-stack-trace {
    margin-top:10px;
}

.cake-stack-trace code {
    background: inherit;
    border:0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color:#fff;
    text-decoration: underline;
}

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

.top-bar.expanded .title-area {
    background: #01545b;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    background: #FFFFFF;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #ff9e66;
    background: #fff;
}

.side-nav li.heading {
    color: #1798A5;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4375rem 0.875rem;
}

#actions-sidebar {
    background: #fafafa;
}

.index table {
    margin-top: 0rem;
    border: 0;
    width: 100%;
    table-layout: fixed;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid #1798A5;
    width: 100%;
    line-height: 2rem;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}


.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #1798A5;
    border: none;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    overflow: hidden;
    min-height: 92%; /* full height almost always */
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
@media(max-width: 640px) {
    #actions-sidebar {
        padding-bottom: 2rem;
        margin-bottom: 0;
    }
}

.content h3 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
}

.content h4 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #be140b;
}

.content .related h4 {
    color: #4d8f97;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 0px;
}
