    div.row.image-row {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    
    #add-more-images {
        margin-top: 6px !important;
    }
    
    .input-group.unity-input {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .input-group.unity-input .form-group.text input[type="text"].unit-input,
    .input-group.unity-input .form-group.has-error.text input[type="text"].unit-input
    {
        border-right: none !important;
        border-radius: 5px 0px 0px 5px !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .input-group.unity-input .form-group.text,
    .input-group.unity-input .form-group.has-error.text {
        width: 80%;
        max-width: 80%;
    }

    span.input-group-addon {
        text-align: center;
        border: 1px solid #B0B0B0;
        border-left: none !important;
        height: 36px;
        max-height: 36px;
        width: 20%;
        max-width: 20%;
        margin-top: 25px;
        border-radius: 0px 5px 5px 0px;
        padding-top: 7px;
        padding-right: 5px;
        padding-left: 4px;
        font-size: 14px;
        font-weight: 600;
        background-color: #DCDCDC;
        color: #595957;
    }

    .boundary-values .input-group.unity-input {
        width: 110%;
        max-width: 110%;
    }

    .user-info-row span.input-group-addon,
    .boundary-values span.input-group-addon {
        width: 38% !important;
        max-width: 38% !important;
        margin-top: 0px !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    .user-info-row .input-group.unity-input .form-group.text,
    .user-info-row .input-group.unity-input .form-group.has-error.text,
    .boundary-values .input-group.unity-input .form-group.text,
    .boundary-values .input-group.unity-input .form-group.has-error.text {
        width: 62%;
        max-width: 62%;
    }

    .user-info-row #general-pricing-col .input-group.unity-input {
        width: 40%;
        max-width: 40%;
    }


    .user-info-row .input-group.unity-input {
        width: 80%;
        max-width: 80%;
    }

    #pgm-prices-table .input-group.unity-input {
        width: 60%;
        max-width: 60%;
    }

    #pgm-prices-table .input-group.unity-input .form-group.text,
    #pgm-prices-table .input-group.unity-input .form-group.has-error.text {
        width: 60%;
        max-width: 60%;
    }

    #pgm-prices-table span.input-group-addon {
        margin-top: 0;
        max-width: 40%;
        width: 40%;
    }

    .row.unit-margin {
        height: 32px;
        max-height: 32px;
        min-height: 32px;
    }
    
    div.hide {
        display: none;
    }
    
    .dropdown-toggle::after {
        display: none;
    }
    
    nav {
        width: 100%;
    }

    .navbar-brand {
        margin-right: 0 !important;
    }
    
    #elemental-logo {
        width: 147px;
        height: 48px;
    }
    
    .dropdown-item {
        color: #595957;
        font-family: "Open Sans";
        font-size: 14px;
    }
    
    .navbar {
        border-bottom: 1px solid;
        border-bottom-color: #cecece;
        background: #f5f5f5;
    }
    
    .navbar-nav {
        display: flex !important;
        align-items: center !important;
    }
    
    .nav-item.nav-bar-logo {
        height: 50px;
        width: 170px;
        margin-bottom: 2%;
        margin-right: 1rem;
        padding: 0 !important;
    }

    .mobile-logo {
        width: 175px;
        margin: 0;
        padding: 0;
    }
    
    .img-logo {
        height: 48px;
        width: 170px;
    }

    .ico-img {
        width: 18px;
        max-width: 18px;
        height: 18px;
        max-height: 18px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        color: #595957;
        font-family: "Open Sans";
        font-weight: 600;
    }
    
    .nav-link.link-right {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: #ff9e66;
    }
    
    .nav-link.dropdown-toggle {
        display: flex !important;
        align-items: center !important;
    }

    button.navbar-toggler {
        margin: 0;
        border: 0px solid;
    }

    button.navbar-toggler:hover,
    button.navbar-toggler:active,
    button.navbar-toggler:focus {
        background: none;
    }

    #collapse_target ul li a.navbar-brand {
        color: #595959 ;
        font-size:18px ;
        font-family: 'Open Sans' ;
        font-weight: 600 ;
        text-align: left ;
        padding-bottom: 0.6rem;
    }

    #collapse_target div {
        margin: 0;
        padding: 0;
    }

    .collapse-inside {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .collapse-inside ul.collapse-list {
        padding-top: 0;
        padding-bottom: 0;
    }

    .collapse-inside ul.collapse-list small {
        margin-left: 10px;
    }

    #collapse_target div.white {
        background-color: #FFFFFF;
        border-top: 1px solid #cecece !important;
    }

    #collapse_target ul {
        display: table !important;
        padding-right: 1.2rem;
    }

    #collapse_target ul.navbar-nav.grey-bckg {
        padding-bottom: .6rem;
        padding-top: .6rem;
    }

    #collapse_target ul li {
        display: table-row;
        width: 100%;
    }

    #collapse_target div.white>ul li div:first-child {
        display: table-cell;
        width: 100%;
    }

    #collapse_target div.white ul li div:nth-child(2) {
        display: table-cell;
        width: 10%;
        
    }

    #collapse_target ul li button.navbar-toggler.small {
        border: 0px !important;
        height: 24px;
        max-height: 24px;
        width: 24px;
        min-width: 24px;
        padding: 0;
        margin: 0;
    }

    #collapse_target ul li button.navbar-toggler.small:hover,
    #collapse_target ul li button.navbar-toggler.small:active,
    #collapse_target ul li button.navbar-toggler.small:focus {
        background: transparent;
    }

    #collapse_target div.white ul {
        border-collapse: separate;
        border-spacing: 0em 1.5em;
    }

    #collapse_target div.white ul li,
    #collapse_target div.white ul li a {
        font-size: 14px;
        color: #595957;
        font-family: 'Open Sans';
        font-weight: 600;
    }

    #collapse_target ul li a.navbar-brand:hover,
    #collapse_target ul li a.navbar-brand:active,
    #collapse_target ul li a.navbar-brand:focus,
    #collapse_target div.white ul li a:hover,
    #collapse_target div.white ul li a:active,
    #collapse_target div.white ul li a:focus {
        text-decoration: none;
        color: #FF9E66;
    }

    img.ico-img.mobile-img {
        margin-right: 5px;
        max-width: 24px;
        max-height: 24px;
    }
    
    .ico-dropdown {
        background: #e5e5e5;
        border-radius: 5px;
        margin-left: 24px;
        margin-right: 0px;
        height: 32px;
        display: flex !important;
        align-items: center !important;
    }
    
    .nav-item.line {
        margin-left: 27px;
        margin-right: 20px;
    }
    
    .link-icon.img-fluid {
        margin-right: 10px;
        max-height: 22px;
        max-width: 22px;
    }
    
    .nav-icon {
        padding-top: 60px !important;
    }
    
    .navbar-nav>li.nav-item.active>a.nav-link {
        color: #ff9e66;
    }

    div.metal-prices-wrapper {
        display: 'table';
        margin-bottom: 40px;
    }

    div.metal-prices {
        width: 100%;
        display: table-row;
    }

    div.metal-prices > div.metal-price {
        font-family: 'Open Sans';
        display: table-cell;
        font-size: 16px;
    }

    div.metal-prices > div.metal-price.key {
        font-weight: 600;
        padding-right: 5px;
        color: #707070;
    }

    div.metal-prices > div.metal-price.value {
        padding-right: 10px;
        font-weight: 400;
        color: #707070;
    }
    
    .search-input-container {
        max-width: 573px;
        margin-top: 22px;
        margin-bottom: 25px;
        margin: 0 auto;
    }
    
    .search-input-container .search-frame {
        width: 492px;
        height: 44px;
        border: 1px solid #B0B0B0;
        border-right: 0px !important;
        border-radius: 5px 0px 0px 5px;
        padding-left: 15px;
        padding-right: 0px;
        display: inline-block;
    }
    
    .search-frame.active {
        border-color: #FF9E66;
    }
    
    .search-input-container .search-frame button {
        display: inline-block;
        background: transparent !important;
        height: 40px;
        max-height: 40px;
        width: 22px;
        max-width: 22px;
        padding: 0px;
        border: 0px !important;
    }
    
    .search-input-container .search-frame button:active,
    .search-input-container .search-frame button:focus,
    .search-input-container .search-frame button:hover {
        outline: none;
    }
    
    .search-input-container input[type="submit"] {
        display: inline-block;
        height: 44px;
        max-height: 44px;
        position: absolute;
    }
    
    .search-input-container .search-frame span,
    .search-input-container .search-frame img {
        display: inline-block;
    }

    .search-input-container .search-frame img#close-icon {
        height: 19px;
        widows: 19px;
    }
    
    .search-input-container .search-frame img {
        padding-bottom: 1px;
    }
    
    .search-input-container .search-frame img.hide {
        display: none;
    }
    
    .search-input-container .search-frame a {
        width: 22px;
        max-width: 22px;
        height: 19px;
        max-height: 19px;
    }
    
    .ico-input {
        position: absolute;
        margin-top: 10px;
    }
    
    #drop-down {
        margin-left: 32px;
    }
    
    #close {
        margin-left: 8px !important;
    }
    
    .search-frame input[type="search"] {
        border: none;
        background: transparent;
        border-radius: 0px !important;
        box-shadow: none !important;
        width: 380px;
        max-width: 380px;
        height: 44px !important;
        max-height: 44px !important;
        margin: 0 !important;
    }
    
    div.adv-search-frame {
        width: 493px;
        border: 1px solid #B0B0B0;
        border-top: none;
        border-radius: 0px 0px 5px 5px;
        padding-top: 27px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    
    div.adv-search-frame form input[type="submit"] {
        border-radius: 5px !important;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 600;
        height: 36px;
        width: 90px;
        position: relative !important;
        float: right;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    div.adv-search-frame form .form-group.select select {
        font-family: 'Open Sans';
        font-size: 14px;
        color: #595959;
    }
    
    div.adv-search-frame form .form-group.select select,
    div.adv-search-frame form .form-group.select select:focus {
        -webkit-appearance: none !important;
        background: url(/img/icons/select-arrow-down-icon.png) no-repeat 175px !important;
    }
    
    div.adv-search-frame .col-md-6 {
        display: grid;
    }

    div.row.inside {
        max-height: 40px;
    }

    div.adv-search-frame .col-md-6.boundary-values  label.control-label {
        display: none;
    }

    div.adv-search-frame .col-md-6.boundary-values:first-child {
        padding-left: 0px;
    }

    div.adv-search-frame .col-md-6.boundary-values:last-child {
        padding-right: 0px;
    }

    div.row.inside {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    div.adv-search-frame form .control-label {
        height: 21px;
        max-height: 21px;
    }
    
    .dash {
        height: 0;
        width: 7px;
        border: 1px solid #707070;
        position: absolute;
        display: inline-block;
        margin-top: 17px;
        margin-left: 104px;
    }
    
    div.adv-search-frame .form-group.text input[type="text"],
    div.adv-search-frame .form-group.select select {
        width: 100%;
    }
    
    .content {
        width: 76%;
        margin: auto;
    }
    
    .margin-bottom {
        height: 60px;
        max-height: 60px;
    }
    
    .nav-bar-margin {
        height: 72px;
        width: 100%;
    }
    
    .search-input-margin {
        height: 22px;
        width: 100%;
    }

    div.margin-15 {
        width: 100%;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
    }
    
    #edit-stock-product-modal.modal>.modal-dialog {
        max-width: 312px !important;
        height: auto;
    }
    
    #edit-stock-product-modal .col-md-6,
    #edit-stock-product-modal .col-md-12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .modal-dialog .modal-header {
        color: #595959;
        font-size: 14px;
        font-family: "Open Sans";
        opacity: 0.8;
    }
    
    .modal-dialog .modal-body a {
        color: #595959;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 600;
    }
    
    .modal-dialog .modal-body a:hover,
    .modal-dialog .modal-body a:focus,
    .modal-dialog .modal-body a:active,
    .modal-dialog .modal-body a:visited {
        text-decoration: none;
    }
    
    .modal-dialog .modal-body a>.row {
        padding-left: 10px;
    }
    
    .modal-dialog .modal-body a>.row:hover {
        background: #f5f5f5 !important;
    }
    
    form .control-label {
        color: #595959;
        opacity: 0.7;
        font-size: 14px;
        font-weight: 600;
        font-family: "Open Sans";
        margin-bottom: 4px;
    }
    
    .modal-dialog button,
    .modal-dialog form input[type="submit"] {
        padding-top: 6px;
        padding-bottom: 8px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 5px !important;
        font-size: 14px;
        font-family: "Open Sans";
        height: 36px;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .modal-dialog button.cancel-btn {
        border: 1px solid #b0b0b0;
        color: #595959;
        margin-left: 16px;
        background: transparent;
        padding-top: 7px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .modal-dialog.modal-confirm {
        max-width: 355px;
    }
    
    .modal-dialog.modal-confirm>.modal-content>.modal-body>p {
        font-size: 14px;
        font-weight: 600;
        font-family: "Open Sans";
        color: #595959;
        margin-bottom: 30px;
    }

    .modal-dialog.modal-create .form-group.text input[type="text"], select {
        width: 100%;
        min-width: 100%;
    }
    
    .modal-dialog button.cancel-btn:hover {
        color: #595957;
        border: 1px solid #595957;
        background: transparent;
        font-weight: 600;
    }
    
    input[type="submit"].submit-btn,
    .modal-dialog button {
        background: #ff9e66;
        color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        border-radius: 5px;
        padding-top: 6px;
    }
    
    input[type="submit"].submit-btn:hover,
    .submit-btn:hover,
    .modal-dialog button:hover {
        background: #e0865a;
        color: #ffffff;
    }
    
    .modal-dialog form input[type="text"],
    .form-group.text input[type="text"] {
        border-radius: 5px;
        border: 1px solid #b0b0b0;
        font-size: 14px;
        font-family: "Open Sans";
        color: #595959;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 9px;
    }
    
    .create-modal .modal-dialog form input[type="text"],
    .create-modal .modal-dialog input[type="text"],
    .create-modal .modal-dialog .form-group select {
        width: 100%;
    }

    .create-modal .modal-dialog .form-group select {
        margin-bottom: 0 !important;
    }
    
    .user-stock-summary-col {
        margin-top: 3rem;
    }

    .user-stock-summary-header {
        font-size: 18px;
        font-family: 'Open Sans';
        font-weight: 600;
        color: #595957;
        margin-left: 0.5rem;
    }

    #edit-stock-product-modal form input[type="text"],
    #edit-stock-product-modal form select {
        width: 114px;
    }
    
    .form-group.text input[type="text"],
    .form-group.select select {
        width: 76px;
    }
    
    .form-group.number input[type="number"] {
        width: 86px;
    }
    
    #edit-stock-product-modal form input[type="text"],
    .form-group.text input[type="text"],
    #edit-stock-product-modal form select,
    .form-group.select select {
        height: 36px;
        border-radius: 5px;
        padding-left: 12px;
        border: 1px solid #b0b0b0;
    }
    
    #edit-stock-product-modal form select,
    #edit-stock-product-modal form select:focus {
        -webkit-appearance: none !important;
        background: url(/img/icons/select-arrow-down-icon.png) no-repeat 85px !important;
    }

    .modal.img-modal .modal-body img.in-modal {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.product-image:hover {
        cursor: pointer;
    }

    .modal.img-modal button.close.close-modal-btn {
        background: transparent;
        color: #595959;
        font-size: 30px;
        vertical-align: middle;
        height: auto;
    }
    
    .form-group.select select,
    .form-group.select select:focus {
        -webkit-appearance: none !important;
        background: transparent !important;
    }

    th.price-header {
        padding-left: 0!important;
        margin-left: 0!important;
    }

    td.price-value {
        text-align: right !important;
        padding-right: .4rem !important;
        width: 6%;
        max-width: 6%
    }

    td.price-currency {
        text-align: left !important;
        padding-left: .4rem !important;
        width: 6%;
        max-width: 6%;
    }
    
    .product-table .form-group {
        margin-top: 30px;
        display: inline-block;
    }
    
    .product-table .form-group label {
        display: none;
    }
    
    .modal-dialog form input[type="text"]:focus {
        border: 1px solid #ff9e66;
    }
    
    .modal-dialog form input::placeholder {
        color: #b0b0b0;
        font-size: 14px;
        font-family: "Open Sans";
    }

    .modal-dialog form .row.submit-row {
        margin-top: 10px;
        margin-bottom: 0;
    }
    /* Bootstrap 4 text input with search icon */
    
    .has-search .form-control {
        padding-left: 2.375rem;
        max-width: 492px;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    /* Bootstrap 4 buttons on the right if the search input */
    /* Bootstrap 4 search-form*/
    
    .form-control:focus {
        border-color: #ff9e66 !important;
        box-shadow: 0 0 0px #ff9e66 !important;
        background: transparent !important;
    }
    
    select.form-control:focus {
        border-color: #595959 !important;
    }
    
    input[type="search"] {
        border-radius: 5px 0px 0px 5px !important;
        transition: 0s !important;
        height: 40px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }
    
    input[type="search"]::placeholder {
        color: #b0b0b0 !important;
    }

    .live-search-container.hide {
        display: none;
    }
    
    .live-search-container {
        display: grid;
        position: relative;
        margin: 0px;
        width: 493px;
        max-width: 493px;
    }

    div.live-search-list {
        background-color: white;
        margin-top: 0px;
    }

    div.live-search-list>ul {
        padding: 0;
        margin: 0;
        display:table;
        width:100%; 
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        border: 1px solid #B0B0B0;
        border-top: none;
        border-radius: 0px 0px 5px 5px  !important;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.19);
    }
    .live-search-element {
        height: 40px;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Open Sans';
        cursor: pointer;
        color: #595959;
        margin: 0 !important;
    } 
    div.live-search-list>ul>li {
        list-style: none;
        display:table-row;
    }

    .live-search-element.active {
        background: #F5F5F5;
    }

    .search-input-button {
        border: 0px;
        border-radius: 0px 5px 5px 0px !important;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 600;
    }
    
    .search-input-button:hover {
        background-color: #e0865a;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 600;
    }
    
    .btn.focus,
    .btn:focus {
        outline: 0;
        box-shadow: none !important;
    }
    /* Products Table */
    
    .product-table {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    
    .product-table td {
        vertical-align: middle;
        text-align: center;
        font-family: "Open Sans";
        font-size: 16px;
        background-color: transparent !important;
        color: #595957;
        border-bottom: 1px #cecece;
    }
    
    .product-table td img {
        max-width: 90px;
    }
    
    .product-table tr:first-child td {
        padding-top: 30px;
    }
    
    .row#view-row {
        max-width: none !important;
    }
    
    .row#view-row .col-md-4 {
        padding: 0 !important;
    }
    
    img.img-view {
        height: 318px;
        max-height: 318px;
        margin-bottom: 16px;
    }
    
    table.info-table {
        border: 0px !important;
    }
    
    table.info-table th,
    table.info-table td {
        border: 0px;
    }
    
    table.info-table td:nth-child(3n + 1) {
        border-bottom: 1px solid #cecece !important;
        text-align: left;
        font-size: 14px !important;
        color: #707070 !important;
    }

    table.info-table td {
        color: #707070 !important;
    }

    #edit-user-details tr>td:first-child,
    #user-details-table tr>td:first-child {
        padding-left: .5rem;
        width: 50%;
    }

    #user-details-table {
        margin-top: 20px;
    }

    #user-details-table tr td {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table td.text-right {
        padding-right: .5rem;
    }

    div.display-3-cols-container {
        width: 55%;
        max-width: 55%;
        min-width: 55%;
        margin-left: 0;
        margin-right: auto;
    }

    #currencies-table .form-group.has-error.text > input[type="text"],
    #currencies-table .form-group.has-error.text > input:focus,
    #currencies-table .form-group.has-error.text > input:active {
        background: transparent !important;
    }

    a.currency-ico>img {
        width: 18px;
        height: 18px;
        max-width: 18px;
        margin-left: 1.5rem;
    }

    span.base-currency-rate {
        margin-left: -1rem;
    }

    table.table.product-table.info-table.user-view-table.display-3-cols td {
        width: 40%;
        max-width: 40%;
        min-width: 40%;
    }

    table.table.product-table.info-table.user-view-table.display-3-cols tr:last-child td {
        border-bottom: none !important;
    }

    table.table.product-table.info-table.user-view-table.display-3-cols td:first-child {
        width: 12%;
        max-width: 12%;
        min-width: 12%;
    }

    table.info-table label > p {
        margin-bottom: 0 !important;
    }
    
    table.info-table td:nth-child(3n + 2) {
        border-bottom: 1px solid #cecece !important;
        text-align: right;
        color: #595959;
        font-weight: 600 !important;
        font-size: 16px !important;
    }

    table.info-table.user-view-table td:nth-child(3n + 2) {
        font-size: 14px !important;
    }
    
    table.info-table td:nth-child(3n) {
        border: 0px !important;
    }
    
    a.stock-ico>img {
        width: 24px;
        height: 24px;
        max-width: 24px;
    }
    
    .product-table th {
        border-bottom: 0px !important;
        text-align: center;
        color: #595959;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 14px;
    }
    
    .product-table th.price {
        text-align: center;
    }
    
    .product-table thead {
        background-color: #f5f5f5;
        text-align: left;
    }
    
    .shadow-header-table thead tr {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.19);
    }

    .indent-table {
        margin-top: 0;
        margin-bottom: 0;
    }

    .indent-table thead tr {
        box-shadow: none;
        -webkit-box-shadow: none;
        background: #DFDFDF;
    }

    .indent-table thead tr th {
        padding-top: .5rem;
        padding-bottom: .6rem;
    }

    .indent-table tbody tr {
        background: #F8F8F8;
    }

    table.info-table.indent-summary>tbody>tr:last-child>td {
        border: none !important;
    }

    .indent-summary tbody tr:last-child {
        border-bottom: 1px solid #FF9E66;
    }
    
    h1 {
        color: #595959;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 22px;
    }
    
    h1>small {
        color: #b0b0b0;
        font-size: 12px;
        font-family: "Open Sans";
    }
    
    h1>small>a {
        font-size: 14px !important;
        color: #ff9e66;
        font-weight: 600;
        font-family: "Open Sans";
        margin-left: 24px;
    }
    
    a.grey-link {
        font-size: 14px;
        font-family: "Open Sans";
        color: #b0b0b0;
    }

    .row.header-row>.col-md-6,
    .row.header-row>.col-md-3 {
        padding: 0;
    }

    #header-content-col {
        text-align: center;
    }

    a.back-link {
        font-size: 14px;
        font-family: 'Open Sans';
        color: #707070;
    }

    p.header {
        font-size: 14px;
        font-family: 'Open Sans';
        color: #707070;
    }

    p.header.stock-header {
        margin: 0 !important;
    }

    p.header.stock-header>span.value {
        font-weight: 600;
        color: #595957;
    }

    .header-col.col-md-4 {
        margin: 0;
        padding: 0;
    }

    .header-col.col-md-4:nth-child(2) {
        text-align: center;
    }
    
    a.back-link>img.img-left {
        margin-right: 3px;
        height: 16px;
        width: 16px;
        max-height: 16px;
        max-width: 16px;
        margin-bottom: 2px;
    }
    
    a.back-link:hover,
    a.back-link:active,
    a.back-link:focus,
    a.back-link:visited {
        text-decoration: none;
    }
    
    h1>small>a:hover,
    h1>small>a:active,
    h1>small>a:visited,
    h1>small>a:focus {
        text-decoration: none;
        color: #ff9e66;
    }
    
    .btn-group.my-btn-group {
        margin: 0 !important;
    }

    .btn-group.my-btn-group button.new-test-btn {
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 5px;
        height: 36px;
        border: 1px solid #ff9e66;
        font-size: 14px;
        font-family: "Open Sans";
        padding-top: 6px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 17px;
    }
    
    .btn-group.my-btn-group button {
        margin-right: 18px;
        border-radius: 5px;
        height: 36px;
        border: 1px solid #ff9e66;
        font-size: 14px;
        font-family: "Open Sans";
        padding-top: 6px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 17px;
    }
    
    .btn-group.my-btn-group>button#create-stock-btn {
        background: #ff9e66;
        color: #ffffff;
        margin: 0 !important;
    }

    .btn-group.my-btn-group>button#create-stock-btn>span#create-new-stock-small-res {
        display: none !important;
    }
    
    .btn-group.my-btn-group>button#create-stock-btn:hover {
        background: #db7543 !important;
    }
    
    .btn-group.my-btn-group button.common-btn {
        background: transparent;
        color: #ff9e66;
    }
    
    .btn-group.my-btn-group button.common-btn:hover {
        border: 1px solid #db7543;
        color: #db7543;
    }
    
    .btn-group.my-btn-group button.dropdown-btn {
        background: transparent;
        border: 1px solid #b0b0b0;
        color: #595959;
        padding-left: 17px;
        padding-right: 14px;
    }
    
    .btn-group.my-btn-group button.dropdown-btn>img {
        margin-right: 0px !important;
        margin-left: 5px !important;
    }
    
    .btn-group.my-btn-group button img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
        margin-bottom: 2px;
    }
    
    .btn-group.my-btn-group button.dropdown-btn.btn-white:hover {
        background: transparent;
        border: 1px solid #595959;
    }
    
    .btn-group.my-btn-group button.dropdown-btn.btn-grey:hover,
    .btn-group.my-btn-group button.dropdown-btn.btn-grey:focus {
        background: #cecece;
    }
    
    .btn.btn-view {
        background-color: transparent;
        border-radius: 5px 5px 5px 5px;
        border: 1px solid #ff9e66;
        color: #ff9e66;
        height: 30px;
        display: inline-block;
        margin: 0 auto;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
    }
    
    .left {
        float: left;
    }
    
    .right {
        float: right;
    }
    
    ul.myPagination {
        list-style-type: none;
        padding-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        display: inline;
    }
    
    ul.myPaginationRight {
        float: right;
    }
    
    ul.myPagination li {
        margin-left: 5px;
        margin-right: 5px;
        display: inline;
    }
    
    .paginator-style {
        color: #b0b0b0;
        font-size: 14px;
        font-family: "Open Sans";
        margin-bottom: 20px;
        width: 100%;
        height: 20px;
        max-height: 20px;
    }
    
    .paginator-arrow {
        margin-bottom: 2px;
    }
    /* Form styles */
    
    .help-block.error-message {
        font-family: "Open Sans";
        font-size: 11px;
        color: #bb0000;
    }
    
    select.form-control.has-error,
    .form-group.has-error>input {
        border: 2px solid #f06262 !important;
        margin-bottom: 0px !important;
    }
    
    .form-group.has-error>input,
    .form-group.has-error>input:focus,
    .form-group.has-error>input:active {
        background: url(/img/icon-error.png) no-repeat;
        background-position: right 5px top 7px;
    }
    
    .form-group.has-error>input[type="number"],
    .form-group.has-error>input[type="number"]:focus,
    .form-group.has-error>input[type="number"]:active {
        background: transparent;
    }

    .row.my-account {
        margin-right: 0;
        margin-left: 0; 
        margin-bottom: 1%;
    }

    .row.my-account>.my-col>.row.justify-content-center {
        margin-left: 28px;
        margin-right: 28px;
    }

    .row.my-account>.my-col>.row.justify-content-center:first-child {
        margin-top: 38px;
    }

    .row.my-account>.my-col>.row.justify-content-center:nth-child(2) {
        margin-top: 33px;
    }

    .row.my-account>.my-col>.row.justify-content-center:nth-child(3) {
        margin-top: 21px;
    }

    img#my-account-icon {
        width: 80px;
        max-width: 80px;
        min-width: 40px;
        height: 80px;
        max-height: 80px;
        min-height: 40px;
    }

    span#coins-info {
        font-family: 'Open Sans';
        font-size: 14px;
        color: #595959;
        text-align: center;
    }

    span.txt-info {
        font-family: 'Open Sans';
        font-size: 12px;
        color: #B0B0B0;
        text-align: center;
        margin-bottom: 5px;
    }

    div.logo-checkbox-wrapper {
        margin-top: 1rem;
    }

    div.logo-checkbox-wrapper label p {
        font-size: 14px;
        font-family: 'Open Sans';
        text-align: center;
    }

    span.txt-info.centered {
        padding-top: 25px;
    }

    .centered {
        display: table;
        margin: auto;
    }

    .logo-col {
        vertical-align: top;
    }

    .btn-logo-change-container {
        max-height: 26%;
        height: 50px;
        max-width: 100%;
    }

    img#coins-icon {
        width: 24px;
        max-width: 24px;
        height: 24px;
        min-height: 24px;
        margin-right: 7px;
    }

    .row.my-account>.my-col {
        padding: 0;
        margin-right: 1%;
    }

    .row.my-account>.my-col:last-child {
        margin: 0;
    }

    .user-info-row {
        margin-bottom: 1%;  
    }

    .my-col,
    .user-info-row>div.my-col.split-row>div.frame {
        border: #CECECE 1px solid;
        border-radius: 5px;
        min-height: 100px;
    }

    .my-col.no-border {
        border: none;
        padding-right: 2rem;
        padding-left: 0;
    }

    div.product-description-wrapper>span.product-description {
        font-size: 14px;
        font-family: 'Open Sans';
        color: #707070;
        text-align: justify;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: .8rem;
    }

    div.product-description-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .row.product-view-row {
        margin-top: 2rem;
    }

    table.product-table.info-table.shadow-header-table.user-view-table#tests-table tr:last-child>td {
        border-bottom: none !important;
    }

    table.product-table.info-table.shadow-header-table.user-view-table#tests-table tr>td {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    div.product-photo-container {
        border-bottom: 1px solid #CECECE;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .row.product-view-row img.product-photo-view {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 80%;
    }


    .user-info-row>div.my-col.col-md-4.split-row>div.frame .col-md-7,
    .user-info-row>div.my-col.col-md-4.split-row>div.frame .col-md-5 {
        padding-left: 0;
        padding-right: 0;
    }

    div.my-col .form-container {
        margin-left: 36px;
        margin-top: 19px;
        margin-right: 31px;
        margin-bottom: 20px;
    }

    .row.my-account>.my-col>.form-container>.address-container>.row,
    .row.my-account>.my-col>.form-container>.row,
    .row.my-account>.my-col>.row {
        margin: 0;
    }

    .row.my-account>.my-col>.form-container>.address-container>.row {
        margin-bottom: -.4rem;
    }

    .my-col div.row.row.product-details-row-header {
        margin-left: 0;
        margin-top: 2rem;
    }

    .my-col div.row.row.tests-row-header {
        margin-left: 0;
        margin-right: 0;
        margin-top: 2rem;
    }

    .tests-row-header>.col-md-6.header-col {
        padding-left: 0;
        padding-right: 0;
    }

    div.product-details-container {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    img.test-ico {
        height: 24px;
        max-height: 24px;
        width: 24px;
        min-width: 24px;
    }

    img.test-ico.image-ico.clickable {
        margin-top: 10px !important;
        cursor: pointer;
    }

    img.clickable {
        cursor: pointer;
    }

    #add-more-images {
        max-width: 26px;
        max-height: 26px;
    }

    #file-inputs-data>div.row {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    img.test-ico.clickable {
        cursor: pointer;
    }

    .my-col div.row.row.tests-row-header p {
        margin-bottom: 0;
        font-size: 18px;
        color: #595959;
        font-family: 'Open Sans';
        font-weight: 600;
    }

    .my-col div.row.row.product-details-row-header > p {
        margin-bottom: 0;
        font-size: 16px;
        color: #595959;
        font-family: 'Open Sans';
        font-weight: 600;
    }

    .my-col div.row.header>p {
        font-size: 16px;
        color: #595959;
        font-family: 'Open Sans';
        font-weight: 600;
    }

    .row.my-account>.my-col>.form-container .form-group {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .row.my-account>.my-col>.form-container .form-group .form-control {
        margin-bottom: 12px;
    }

    .row.my-account>.my-col>.form-container .form-group input,
    .row.my-account>.my-col>.form-container .form-group select {
        width: 100%;
        height: 30px;
        border-radius: 0px;
        font-family: 'Open Sans';
        font-size: 14px;
        color: #595959;
        padding: .5rem;
    }

    .row.my-account>.my-col>.form-container .form-group select {
        padding-top: 4px !important;
        padding-left: .3rem;
    }

    .row.my-account>.my-col>.form-container .form-group>.control-label {
        font-size: 12px;
        opacity: 100%;
    }

    .row.my-account>.my-col>.form-container .col-md-6,
    .row.my-account>.my-col>.form-container .col-md-4,
    .row.my-account>.my-col>.form-container .col-md-8 {
        padding: 0;
    }

    .row.my-account>.my-col>.form-container .split-col:first-child {
        padding-right: 8px;
    }

    .row.my-account>.my-col>.form-container .split-col:last-child {
        padding-left: 8px;
    }

    .row.my-account>.my-col>.form-container .split-wide-col:first-child {
        padding-right: 20px;
    }

    .row.my-account>.my-col>.form-container .split-wide-col:last-child {
        padding-left: 20px;
    }

    .row.my-account .col-md-2.my-col {
        width: 16.6%;
        max-width: 16.6%;
        min-width: 16.6%;
    }

    .row.my-account .col-md-5.my-col {
        width: 40.7%;
        max-width: 40.7%;
        min-width: 40.7%;
    }

    .row.my-account .col-md-4.my-col {
        width: 38.5%;
        max-width: 38.5%;
        min-width: 38.5%
    }

    .row.dashboard-row {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }

    .row.my-account .col-md-8.my-col {
        width: 60.5%;
        max-width: 60.5%;
        min-width: 60.5%;
    }

    .dashboard-row>.my-col.col-md-3 {
        margin-right: 1.2%;
        min-width: 24.1%;
        width: 24.1%;
        max-width: 24.1%;
        padding: 0;
    }

    .dashboard-row>.my-col.col-md-4.right-border {
        border-right: 1px solid #CECECE;
        border-left: none;
        border-bottom: none;
        border-top: none;
        border-radius: 0px;
        margin-right: 1%;
        min-width: 32%;
        width: 32%;
        max-width: 32%;
        padding: 0;
    }

    .dashboard-row>.my-col.col-md-4.right-border:last-child {
        border: none;
    }

    .dashboard-row>.my-col.col-md-4.right-border>.row,
    .dashboard-row>.my-col.col-md-4.right-border>.row:last-child {
        margin: 0;
    }

    .dashboard-row>.my-col.col-md-3>.row {
        margin: 0;
    }

    .dashboard-row>.my-col.col-md-3>.row:last-child {
        margin-bottom: 20px;
    }

    .dashboard-row button {
        margin: 0 !important;
    }

    .dashboard-row img.block-ico {
        width: 111px;
        max-width: 111px;
        height: 118px;
        max-height: 118px;
        margin-top: 22px;
    }

    .dashboard-row img.usr-ico {
        height: 80px;
        max-height: 80px;
    }

    .dashboard-row img.usr-ico#users-lists {
        width: 57px;
        max-width: 57px;
    }

    .dashboard-row img.usr-ico#users-stocks {
        width: 72px;
        max-width: 72px;
    }

    .dashboard-row img.usr-ico#users-rights {
        width: 66px;
        max-width: 66px;
    }

    .dashboard-row img.usr-ico#users-coins {
        width: 81px;
        max-width: 81px;
    }

    .dashboard-row p.txt-header {
        margin-top: 19px;
        color: #595959;
        font-size: 20px;
        font-family: 'Open Sans';
        font-weight: 400;
    }

    .dashboard-row>.my-col.col-md-3:last-child {
        margin-right: 0;
    }

    .user-info-row>div.my-col {
        padding: 0 !important;
    }

    .user-info-row>div.my-col.col-md-4 {
        width: 40%;
        max-width: 40%;
        min-width: 40%;
    }

    .user-info-row>div.my-col.col-md-4.split-row {
        border: none;
    }

    .user-info-row>div.my-col.col-md-4.split-row>div.frame {
        width: 100%;
    }

    .user-info-row>div.my-col.col-md-4.split-row>div.frame:first-child {
        margin-bottom: 2.5%;
        padding: 0;
    }

    .row.user-info-row>div.my-col.col-md-8 {
        width: 59%;
        max-width: 59%;
        min-width: 59%;
    }

    .user-info-row>div.my-col {
        margin-left: 0 !important;
    }

    .user-info-row>div.my-col:first-child {
        margin-right: 1%;
    }
    
    .user-info-row #coin-user-info-icon {
        width: 18px;
        max-width: 18px;
        height: 18px;
        max-height: 18px;
        margin-right: 5px;
    }

    table.info-table td.no-border {
        border-bottom: 0px solid !important;
    }

    table.info-table td.text-align-top {
        vertical-align: text-top;
    }

    table.info-table td.border-right {
        border-right: 1px solid #cecece !important;
    }

    table.info-table td.border-bottom {
        border-bottom: 1px solid #cecece !important;
    }

    table.info-table td.no-border {
        border-bottom: 0px solid !important;
    }

    table.info-table td.bold-content {
        color: #595959;
        font-weight: 600 !important;
        font-size: 14px !important;
    }

    table.info-table td.normal-content {
        text-align: left;
        font-size: 14px !important;
        color: #707070 !important;
        font-weight: 400 !important;
    }

    table.info-table td.text-centered {
        text-align: center;
    }

    table td.text-left-padding-center,
    table th.text-left-padding-center {
        text-align: left;
        padding-left: 2rem !important;
    }

    table td.text-left {
        text-align: left;
    }

    table td.text-right {
        text-align: right;
    }

    table td.text-left-with-padding,
    table th.text-left-with-padding {
        text-align: left;
        padding-left: 1.5rem !important;
    }


    table.table.product-table.info-table.shadow-header-table.user-view-table#pricing-details tr>td:first-child,
    table.table.product-table.info-table.shadow-header-table.user-view-table#pricing-terms tr>td:first-child
     {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: .5rem;
    }

    tr.manage-users-stocks-row>td {
        padding-left: 0;
        padding-right: 0;
    }
    .manage-users-stocks-td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    tr.manage-users-stocks-row .product-table tr>td {
        padding-top: 0;
        padding-bottom: 0;
    }

    tr.manage-users-stocks-row .product-table.info-table tr:first-child>td {
        padding-top: 1.2rem;
        padding-bottom: .5rem;
    }

    tr.manage-users-stocks-row .product-table.info-table tr>td {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .product-table tr>td.row-left-margin,
    .product-table tr>th.row-left-margin {
        width: 1%;
        max-width: 1%;
    }

    .product-table td img.product-image {
        width: 90px;
        max-width: 90px;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group {
        margin-top: 4px;
        height: 36px;
        border: 1px solid #b0b0b0;
        border-radius: 5px;
    }

    .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group .form-control {
        height: 100%;
        border: none;
        color: #595959;
        font-size: 14px;
        font-family: 'Open Sans';
    }

    .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group .form-control:focus {
        border: none;
    }

    .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group button {
        height: 100%;
        border: none;
        pointer-events: none;
    }

    .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group .input-group-append {
        border-color: transparent;
    }

    .product-table tr>th.photo-col {
        width: 10%;
        max-width: 10%;
    }

    .product-table tr>th.content-amount-col {
        width: 19%;
        max-width: 19%;
    }

    .product-table tr>th.catalogue-value-col {
        width: 18%;
        max-width: 18%;
    }

    .product-table tr>th.user-value-col {
        width: 16%;
        max-width: 16%;
    }

    .product-table tr>th.profit-col {
        width: 14%;
        max-width: 14%;
    }

    .product-table tr>th.cat-code-col {
        width: 15%;
        max-width: 15%;
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .product-table tr>th.no-of-pcs-col {
        width: 8%;
        max-width: 8%;
        padding-right: .5rem;
        padding-left: .5rem;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table#pricing-details tr>td {
        width: 25%;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table#pricing-terms tr>td,
    table.table.product-table.info-table.shadow-header-table.user-view-table#edit-pricing-terms tr>td {
        width: 30%;
    }

    #user-logo-frame {
        height: 49%;
    }

    table.table.product-table.info-table.shadow-header-table tr.header:first-child>td {
        height: 35px !important;
        min-height: 35px !important;
        max-height: 35px !important;
        padding-top: 0 !important;
    }

    #roles-table tr>td:first-child {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        padding-left: 1rem;
        font-size: 17px !important;
        font-family: 'Open Sans';
    }

    #roles-table tr>td {
        width: 25%;
        max-width: 25%;
        min-width: 25%;
        text-align: center;
    }

    .roles-table-container {
        width: 30%;
        max-width: 30%;
        min-width: 30%;
        margin-top: 3rem;
    }

    #edit-role-table tr>td:first-child {
        width: 70%;
        padding-left: .3rem;
        max-width: 70%;
    }

    #edit-role-table tr>td:last-child {
        width: 30%;
        text-align: right;
        padding-right: .3rem;
    }

    #edit-role-table tr:last-child>td {
        border-bottom: 1px solid #cecece !important;
    }

    .col-md-6.edit-role:first-child {
        padding-left: 0 !important;
    }

    .col-md-6.edit-role:last-child {
        padding-right: 0 !important;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table tr>td {
        padding-left: 0;
        padding-right: 0;
    }

    table.table.product-table.info-table.shadow-header-table tr.header:first-child>td {
        padding-top: 0;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table#pricing-details tr.footer>td {
        padding-bottom: .4rem;
        vertical-align: middle;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table {
        margin-top: 10px;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table#tests-table {
        margin-top: 2rem;
    }

    .row.user-info-row .my-col .row {
        margin-left: auto;
        margin-right: auto;
    }

    table.table.product-table.info-table.shadow-header-table.user-view-table#pricing-terms {
        margin-top: 20px;   
    }

    #user-logo-allowed label p {
        font-size: 12px;
        color: #707070;
        font-family: 'Open Sans';
    }

    .table.product-table.info-table.shadow-header-table.user-view-table .form-group .form-control,
    .table.product-table.info-table.shadow-header-table.user-view-table .form-group {
        margin-top: 0;
        margin-bottom: 0;
    }

    .table.product-table.info-table.shadow-header-table.user-view-table .form-group.select select:focus {
        border: 2px solid #FF9E66 !important;
        box-shadow: 0 0 0px #FF9E66 !important;
    }

    .table.product-table.info-table.shadow-header-table.user-view-table .form-group.select select,
    .table.product-table.info-table.shadow-header-table.user-view-table .form-group.select select:focus {
        padding: 0rem !important;
        padding-left: 0.2rem !important;
        -webkit-appearance: none !important;
        background: url(/img/icons/select-arrow-down-icon.png) no-repeat 90px 8px  !important;
        width: 120px !important;
        font-size: 14px;
        font-family: 'Open Sans';
        color: #595959;
    }

    #edit-user-details tr td {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #edit-pricing-terms {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .row.user-list-filter-row>.col-md-2 {
        min-width: 14.6%;
        width: 14.6%;
        max-width: 14.6%;
    }

    .row.user-list-filter-row>.col-md-3 {
        min-width: 18%;
        width: 18%;
        max-width: 18%;
    }

    .row.user-list-filter-row>.col-md-1 {
        min-width: 9%;
        width: 9%;
        max-width: 9%;
    }

    span.user-name {
        font-weight: 600;
        font-size: 14px;
    }

    span.user-mail {
        font-size: 12px;
    }

    #user-filter-submit {
        max-width: 100%;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 4px;
    }

    .contact-form-container {
        width: 60%;
        max-width: 60%;
        min-width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .contact-form-container .form-group {
        margin-bottom: 0;
    }

    .contact-form-container .form-group .form-control {
        font-size: 14px;
        color: #595959;
        font-family: 'Open Sans';
        border-radius: 5px;
        border: 1px solid #b0b0b0;
    }

    .contact-form-container .form-group,
    .contact-form-container .form-group input {
        width: 100%;
        min-width: 100%;
    }

    img.users-stocks-icon {
        height: 36px;
        width: 36px;
    }

    .row.user-list-filter-row>.col-md-2,
    .row.user-list-filter-row>.col-md-3,
    .row.user-list-filter-row>.col-md-1 {
        text-align: center;
    }

    .row.user-list-filter-row>.col-md-2,
    .row.user-list-filter-row>.col-md-3,
    .row.user-list-filter-row>.col-md-1 {
        padding-left: 0;
    }

    .row.user-list-filter-row>.col-md-1 {
        padding-right: 0;
    }

    .row.user-list-filter-row .form-group.select select {
        width: 100%;
    }

    .row.user-list-filter-row .form-group input {
        border-radius: 5px;
        border-color: #B0B0B0;
        padding-left: .8rem;
    }

    .row.user-list-filter-row .form-group input[type="text"] {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    form .row.user-list-filter-row select,
    form .row.user-list-filter-row select:focus {
        padding: 0rem !important;
        padding-left: 0.4rem !important;
        -webkit-appearance: none !important;
        background: url(/img/icons/select-arrow-down-icon.png) no-repeat 95% 50% !important;
        font-family: 'Open Sans';
        color: #595959;
        font-size: 14px;
    }

    .row.users-stocks-filter-row>.col-md-3 {
        width: 25%;
        max-width: 25%;
        min-width: 25%;
    }

    .row.users-stocks-filter-row>.col-md-2 {
        width: 15%;
        max-width: 15%;
        min-width: 15%;
    }

    .row.users-stocks-filter-row>.col-md-2,
    .row.users-stocks-filter-row>.col-md-3 {
        text-align: center;
        padding-left: 0;
    }

    .row.users-stocks-filter-row .form-group input[type="text"], 
    .row.users-stocks-filter-row .form-group.select select {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    form .row.users-stocks-filter-row select,
    form .row.users-stocks-filter-row select:focus {
        padding: 0rem !important;
        padding-left: 0.4rem !important;
        -webkit-appearance: none !important;
        background: url(/img/icons/select-arrow-down-icon.png) no-repeat 95% 50% !important;
        font-family: 'Open Sans';
        color: #595959;
        font-size: 14px;
    }

    #users-stocks-filter-submit {
        max-width: 100%;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 4px;
    }

    div.not-found-item {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }

    div.not-found-item>h1 {
        text-align: center;
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: bold;
        color: #595959;
    }

    div.not-found-item>p {
        text-align: center;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 15px;
        color: #595959;
    }

    div.not-found-item>p>a {
        color: #FF9E66;
    }

    div.not-found-item>p>a:hover,
    div.not-found-item>p>a:active {
        text-decoration: none;
        color: #e0865a;
    }

    #add-preproduct-modal .modal-dialog form .form-control {
        width: 100%;
    }

    #add-preproduct-modal .modal-dialog .form-group.select select {
        width: 100%;
    }

    div.dashed-frame img.close-icon {
        width: 16px;
        max-width: 16px;
        height: 16px;
        max-height: 16px;
        margin: .6rem;
    }

    #add-preproduct-modal .modal-dialog select,
    #add-preproduct-modal .modal-dialog select:focus {
        padding: 0rem !important;
        padding-left: 0.4rem !important;
        -webkit-appearance: none !important;
        background: url(/img/icons/select-arrow-down-icon.png) no-repeat 95% 50% !important;
        font-family: 'Open Sans';
        color: #595959;
        font-size: 14px;
        margin-bottom: 0;
    }

    div.dashed-frame input[type="file"] {
        border: 1px dotted #B0B0B0;
        background: transparent;
        color: #B0B0B0;
        font-size: 12px;
        font-family: 'Open Sans';
    }

    div.dashed-frame {
        border: 1px dashed #B0B0B0;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 4px;
        margin-bottom: 1rem;
    }

    #add-preproduct-modal div.dashed-frame {
        margin-left: 3.3%;
        margin-right: 2%;
    }

    div.dashed-frame span.image-path-txt {
        font-family: 'Open Sans';
        color: #B0B0B0;
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
    }

    span.frame-label {
        color: #595959;
        opacity: .7;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 600;
    }

    #add-preproduct-modal span.frame-label {
        margin-left: 3.33%;
    }

    #add-preproduct-modal .modal-body {
        margin-top: 1rem;
    }

    #add-preproduct-modal .form-group {
        margin-bottom: 2rem !important;
    }

    .dashed-frame .col-md-6 {
        padding: 0 !important;
        width: 50%;
        max-width: 50%;
        min-width: 50%;
    }

    #add-preproduct-modal div.request-frame {
        border: none;
        margin-top: 4px;
        margin-bottom: 3rem;
    }

    #add-preproduct-modal div.request-frame>p.bold {
        font-family: 'Open Sans';
        color: #707070;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 0 !important;
        font-size: 14px;
        font-weight: bold;
    }

    #add-preproduct-modal div.request-frame>.row {
        margin-top: 1rem;
    }

    #add-preproduct-modal .form-check-inline:first-child {
        margin-right: 2rem;
    }

    #add-preproduct-modal .form-check-inline:nth-child(2) {
        margin-right: 0;
    }


    #add-preproduct-modal div.request-frame>p.normal {
        font-family: 'Open Sans';
        color: #707070;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 0 !important;
        font-size: 12px;
        color: #707070;
    }
      
    #add-preproduct-modal input[type=radio],
    #add-preproduct-modal input.radio {
        float: left;
        clear: none;
        width: auto !important;
        margin: 0!important;
    }

    #add-preproduct-modal .form-check-label {
        font-family: 'Open Sans';
        font-size: 14px;
        color: #595959;
    }

    .icon-done-container {
        margin-top: 3rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .icon-done-container>img.icon-done {
        width: 72px;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
    }

    p.bold-done {
        font-size: 20px;
        font-family: 'Open Sans';
        font-weight: bold;
        color: #595959;
        text-align: center;
        margin-bottom: .3rem;
    }

    p.normal-done {
        color: #595959;
        font-family: 'Open Sans';
        font-size: 15px;
        text-align: center;
    }

    div.product-form-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }

    div.product-form-row .form-group {
        margin-bottom: 0;
    }

    .row.product-form-row>.col-md-6:first-child,
    .row.product-form-row>.col-md-3:first-child {
        padding-left: 0
    }

    .row.product-form-row>.col-md-6:last-child,
    .row.product-form-row>.col-md-3:last-child {
        padding-right: 0;
    }

    .row.product-form-header {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Open Sans';
        color: #595959;
        margin-bottom: 1.2rem;
    }

    .col-md-12.my-col.product-form-frame {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .row.product-form-row>.col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

    div.product-form-row .row.row-half-split>.col-md-6:first-child {
        padding-left: 0;
        padding-right: .5rem;
    }

    div.product-form-row .row {
        margin: 0;
    }

    div.product-form-row .row.row-half-split>.col-md-6:last-child {
        padding-left: .5rem;
        padding-right: 0;
    }

    div.product-form-row .form-group textarea,
    div.product-form-row .form-group input[type="text"],
    div.product-form-row .form-group select {
        font-size: 14px;
        font-family: 'Open Sans';
        color: #707070;
    }

    div.product-form-row .form-group,
    div.product-form-row .form-group input[type="text"],
    div.product-form-row .form-group select {
        width: 100%;
    }

    div.product-form-row .form-group {
        margin-bottom: 1rem;
    }

    div.product-form-row select,
    div.product-form-row input,
    div.product-form-row textarea {
        margin-bottom: 0;
    }

    div.col-md-12.my-col.product-view-col {
        padding-left: 0;
        padding-right: 0;
    }

    div.product-form-row .form-group textarea {
        height: 75px;
    }

    @media (max-width: 1320px) {
        .contact-form-container {
            width: 80%;
            max-width: 80%;
            min-width: 80%;
        }
        .frame .form-container .row .col-md-6.align-self-center {
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            margin-top: 10%;
        }
        .content {
            width: 90%;
        }

        .row.my-account .col-md-5.my-col {
            width: 70%;
            max-width: 70%;
            min-width: 70%;
            margin-right: 0 !important;
        }

        .row.my-account .col-md-2.my-col#coins-detail-col,
        .row.my-account .col-md-4.my-col#change-logo-col {
            width: 29%;
            max-width: 29%;
            min-width: 29%;
        }

        .row.my-account .col-md-4.my-col#change-logo-col,
        .row.my-account .col-md-5.my-col#company-details {
            margin-bottom: 1%;
        }

        .row.my-account .col-md-8.my-col#change-password-col {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            margin: 0 !important;
        }

        span.txt-info.centered {
            padding-top: 0;
            padding-bottom: 10px;
        }

        .split-wide-col.break {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            padding-left: 0 !important;
            padding-right: 0 !important;

        }
        .btn-group.my-btn-group {
            margin-bottom: 7px;
            margin-top: 10px;
        }
        .btn-group.my-btn-group button {
            margin-top: 3px;
            margin-right: 9px;
            font-size: 15px;
            height: 40px;
            padding-top: 3px;
            padding-bottom: 5px;
            padding-left: 7px;
            padding-right: 7px;
        }
        .btn-group.my-btn-group button.dropdown-btn {
            padding-left: 7px;
            padding-right: 7px;
        }
        .btn-group.my-btn-group button img {
            height: 16px;
            width: 16px;
        }
    }

    @media (min-width: 768px) {
        div.mobile,
        .collapse.navbar-collapse.mobile {
            display: none !important;
        }
    }

    @media (max-width: 740px) {

        div.adv-search-frame div.col-md-6.boundary-values {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .row.product-view-row {
            margin-top: 0;
        }

        .col-md-6.edit-role {
            padding-left: 0 !important;
            padding-right: 0 !important;

        }

        .roles-table-container {
            width: 80% !important;
            max-width: 80% !important;
            min-width: 80% !important;
            margin-top: 3rem;
        }
    }

    @media (max-width: 768px) {

        div.display-3-cols-container {
            width: 100% !important;
            max-width: 100% !important; 
            min-width: 100% !important;
        }

        .frame .form-container .row .col-md-6.align-self-center {
            min-width: 50% !important;
            width: 50%  !important;
            max-width: 50%  !important;
            margin-top: 5%  !important;
        }

        .row.header-row>.col-md-6 {
            width: 33%;
            max-width: 33%;
            min-width: 33%;
        }

        .row.header-row>.col-md-3 {
            width: 33%;
            max-width: 33%;
            min-width: 33%;
        }

        .header-col.col-md-4:first-child {
            width: 0%;
            max-width: 0%;
            min-width: 0%;
        }

        .header-col.col-md-4:nth-child(2) {
            width: 58%;
            max-width: 58%;
            min-width: 58%;
            text-align: right;
        }

        .header-col.col-md-4:nth-child(3) {
            width: 42%;
            max-width: 42%;
            min-width: 42%;
        }

        a.back-link {
            font-size: 14px;
        }
    
        p.header {
            font-size: 14px;
        }

        a.back-link>img.img-left {
            height: 15px;
            width: 15px;
            max-height: 15px;
            max-width: 15px;
        }

        .nav-bar-margin {
            height: 56px;
            width: 100%;
        }

        .row.my-account>.my-col>.form-container .split-col:first-child {
            padding-right: 0px;
        }
    
        .row.my-account>.my-col>.form-container .split-col:last-child {
            padding-left: 0px;
        }
    }

    @media (max-width: 675px) {

        #add-preproduct-modal div.dashed-frame {
            padding-bottom: 0 !important;
        }

        #add-preproduct-modal .dashed-frame .col-md-6 {
            width: 50%;
            max-width: 50%;
            min-width: 50%;
        }

        .row.header-row>.col-md-6,
        .row.header-row>.col-md-3 {
            width: 50%;
            max-width: 50%;
            min-width: 50%;
        }

        .row.header-row>.col-md-6 {
            text-align: right;
        }

        .row.header-row>.col-md-6>p.header {
            text-align: right;
            margin-right: 3px;
        }
        .row.my-account .col-md-2.my-col#coins-detail-col, 
        .row.my-account .col-md-4.my-col#change-logo-col,
        .row.my-account .col-md-5.my-col#personal-details,
        .row.my-account .col-md-5.my-col#company-details,
        .row.my-account .col-md-8.my-col#change-password-col {
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
            margin-bottom: 3% !important;
        }

        .row.my-account {
            margin: 0 !important;
        }
    }

    @media (max-width: 680px) {

        div.dashed-frame{
            padding-bottom: 0 !important;
        }

        .dashed-frame .col-md-6 {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            margin-bottom: .5rem;
        }
        
        div.contact-form-container {
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }

        table.table.product-table.info-table.user-view-table#currencies-table {
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
        }

        .dashboard-row>.my-col.col-md-4.right-border,
        .dashboard-row>.my-col.col-md-4.right-border:last-child {
            border: 1px solid #CECECE;
            border-radius: 5px;
            padding-top: 6%;
            padding-bottom: 6%;
            border: 1px solid #CECECE !important;
            border-radius: 5px !important;
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            margin-bottom: 2%;
        }

        .row.user-list-filter-row>.col-md-3,
        .row.user-list-filter-row>.col-md-2 {
            width: 50% !important;
            max-width: 50% !important;
            min-width: 50% !important;
        }

        .row.user-list-filter-row>div:nth-child(2n) {
            padding-right: 0 !important;
            padding-left: 1%;
        }

        .row.user-list-filter-row>div:nth-child(2n+1) {
            padding-right: 1% !important;
        }

        .row.user-list-filter-row>div.col-md-1 {
            padding-right: 0 !important;
        }

        .row.user-list-filter-row .form-group input:nth-child(2n+1) {
            padding-right: 0 !important;
        }

        .header-col.col-md-4:nth-child(2) {
            text-align: left;
        }

        .dashboard-row>.my-col.col-md-3 {
            min-width: 100% !important;
            width: 100% !important;
            max-width: 100% !important;
            margin-right: 0 !important;
            margin-bottom: 4% !important;
        }

        .search-frame {
            width: 245px !important;
            max-width: 245px !important;
        }
        div.adv-search-frame {
            width: 245px !important;
            max-width: 245px !important;
        }
        .search-frame input[type="search"] {
            width: 10rem !important;
            max-width: 10rem !important;
        }
        #search-button {
            width: 44px;
            max-width: 44px;
            font-size: 0;
            line-height: 0;
            background-image: url("../img/icons/icon-search-white.png");
            background-repeat: no-repeat;
            background-position: center; 
        }
        #search-icon {
            display: none;
        }

        .btn-group.my-btn-group button.common-btn img {
            height: 20px !important;
            width: 20px !important;
            display: inline-block !important;
            padding: 0 !important;
        }

        .btn-group.my-btn-group button.common-btn.small-square {
            padding: 5px 5px 5px 5px !important;
            margin-left: .1rem !important;
            height: 30px;
            max-height: 30px;
            width: 30px;
            max-width: 30px;
            font-size: 0 !important;
            line-height: 0 !important;
        }

        .btn-group.my-btn-group button.dropdown-btn.dropdown-toggle,
        .btn-group.my-btn-group>button#create-stock-btn {
            height: 30px;
            max-height: 30px;
        }

        .btn-group.my-btn-group button.dropdown-btn.dropdown-toggle img {
            display: hide;
        }

        .btn-group.my-btn-group button.dropdown-btn.btn-grey.dropdown-toggle {
            margin-right: 10px;
            font-size: 10px;
        }

        .btn-group.my-btn-group button.dropdown-btn.btn-white.dropdown-toggle {
            margin-left: 10px;
            margin-right: 0;
            font-size: 11px;
        }

        .btn-group.my-btn-group .dropdown button {
            padding-left: .6rem !important;
            padding-right: .6rem !important;
        }

        .btn-group.my-btn-group button.common-btn {
            margin-right: .3rem;
        }

        .btn-group.my-btn-group button#create-stock-btn {
            height: 26px;
            max-height: 26px;
        }

        .row.user-info-row>div.my-col>div.form-container {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
    
    @media (max-width: 921px) {

        .user-stock-summary-col {
            width: 60% !important;
            min-width: 60% !important;
            max-width: 60% !important;
        }

        .row.product-view-row .my-col {
            padding: 0;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }

        .row.product-view-row .my-col.product-details-col {
            margin-bottom: 2rem;
        }

        .btn-group.my-btn-group>button#create-stock-btn>span#create-new-stock-small-res {
            display: inline-block !important;
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: 14px;
        }

        .btn-group.my-btn-group>button#create-stock-btn>#create-new-stock-full-text {
            display: none;
        }

        .dashboard-row>.my-col.col-md-3 {
            margin-right: 2%;
            margin-bottom: 2%;
            min-width: 48%;
            width: 48%;
            max-width: 48%;
            padding: 0;
        }

        .dashboard-row>.my-col.col-md-3:nth-child(2) {
            margin-right: 0;
        }

        .row.my-account>.my-col>.row.justify-content-center:first-child {
            margin-top: 28px;
        }

        .row.my-account .col-md-5.my-col {
            width: 60%;
            max-width: 60%;
            min-width: 60%;
        }

        .row.my-account .col-md-2.my-col#coins-detail-col,
        .row.my-account .col-md-4.my-col#change-logo-col {
            width: 39%;
            max-width: 39%;
            min-width: 39%;
        }

        div.adv-search-frame {
            width: 401px;
            max-width: 401px;
        }
        div.adv-search-frame form .form-group.select select,
        div.adv-search-frame form .form-group.select select:focus {
            background-image: none !important;
        }
        .search-frame {
            width: 400px;
            max-width: 400px;
        }
        .dash {
            display: none;
        }
        .search-frame input[type="search"] {
            width: 295px;
            max-width: 295px;
        }
        #drop-down {
            margin-left: 30px;
        }
        #close {
            margin-right: 0px;
            margin-left: 0px;
        }
        .stock-stats td:first-child {
            font-weight: 10px !important;
        }
        .stock-stats td:nth-child(2) {
            font-size: 12px !important;
        }
        .navbar-light .navbar-nav .nav-link {
            font-size: 8px;
            color: #595957;
            font-family: "Open Sans";
            font-weight: 400;
        }
        .main {
            width: 80%;
        }
        .line {
            display: none;
        }
        .link-icon.img-fluid {
            margin-right: 3px !important;
            height: 16px;
            width: 16px;
        }
        .nav-item.dropdown.ico-dropdown img {
            height: 10px;
            width: 10px;
        }
        .btn-group.my-btn-group {
            margin-bottom: 4px;
            margin-top: 5px;
        }
        .btn-group.my-btn-group button {
            margin-top: 4px;
            font-size: 13px;
            height: 43px;
            max-height: 43px;
            padding-top: .2rem;
            padding-left: .8rem !important;
            padding-right: .8rem !important;
        }

        .btn-group.my-btn-group button#create-stock-btn {
            height: 40px;
            max-height: 40px;
            font-size: 16px !important;
        }
        
        .btn-group.my-btn-group button.dropdown-btn {
            padding-left: 5px;
            padding-right: 5px;
        }
        .btn-group.my-btn-group button img {
            height: 10px;
            width: 10px;
        }
        .product-table td img {
            max-width: 70px;
        }

        .row.user-info-row>div.my-col.col-md-4,
        .row.user-info-row>div.my-col.col-md-8 {
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            margin-right: 0 !important;
            margin-left: 0 !important;
            margin-bottom: 2%;
        }

        .my-col div.row.header > p {
            padding-left: .5rem;
        }

    }
    
    @media (max-width: 1080px) {

        .user-stock-summary-col {
            width: 40%;
            min-width: 40%;
            max-width: 40%;
        }

        .row.tests-row-header>.col-md-6.header-col {
            width: 50%;
            max-width: 50%;
            min-width: 50%;
        }

        .roles-table-container {
            width: 60%;
            max-width: 60%;
            min-width: 60%;
            margin-top: 3rem;
        }

        div.contact-form-container {
            width: 80%;
            max-width: 80%;
            min-width: 80%;
            padding-left: 4rem;
            padding-right: 4rem;
        }

        div.display-3-cols-container {
            width: 75%;
            max-width: 75%;
            min-width: 75%;
        }

        .row.user-list-filter-row>.col-md-3,
        .row.user-list-filter-row>.col-md-2,
        .row.user-list-filter-row>.col-md-1 {
            margin-bottom: 2%;
        }

        .row.user-list-filter-row>.col-md-3,
        .row.user-list-filter-row>.col-md-2 {
            width: 33.3%;
            max-width: 33.3%;
            min-width: 33.3%;
            margin-bottom: 0 !important;
        }

        .row.user-list-filter-row>div:nth-child(3n) {
            padding-right: 0 !important;
        }

        .row.user-list-filter-row .form-group,
        .row.user-list-filter-row .form-group input,
        .row.user-list-filter-row .form-group.select select {
            margin-bottom: 0 !important;
        }

        .row.user-list-filter-row>.col-md-1 {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            padding-right: 0!important;
        }

        .row.user-list-filter-row>.col-md-2.no-right-margin-sm {
            padding-right: 0 !important;
        }

        .navbar-light .navbar-nav .nav-link {
            font-size: 10px;
            color: #595957;
            font-family: "Open Sans";
            font-weight: 400;
            margin: 0;
        }
        .nav-link.dropdown-toggle {
            display: flex !important;
            align-items: center !important;
        }
        .line {
            margin-left: 10px;
            margin-right: 12px;
        }
        .link-icon.img-fluid {
            margin-right: 3px;
            height: 16px;
            width: 16px;
        }
        .nav-item.dropdown.ico-dropdown {
            height: 24px;
            margin: 8px;
        }
        .nav-item.dropdown.ico-dropdown img {
            height: 14px;
            width: 14px;
            margin: 0px;
        }
        .btn-group.my-btn-group button img {
            display: none;
        }

        .row.user-info-row>div.my-col>div.form-container {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
