<table class="table product-table info-table indent-table indent-summary" id="stock-<?=$stock_id?>-summary-table">
    <thead>
        <tr>
            <th colspan="8"><?=h(__('Stock summary'))?></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>