<div class="file-input logo-change" id="many-files">
	<span class="file-input-msg">
    <img src="/img/icons/upload-logo-icon.png"><?=h($upload_message)?>
  </span>
  <input type="file" name="file" id="file"/>
</div>